<mat-toolbar color="accent">
  <div class="toolbar">
    <div class="left">
      <button
        mat-button
        color="primary"
        routerLink=""
        matTooltip="Navigate to Home Page"
      >
        <mat-icon>cabin</mat-icon>
        Home
      </button>
      <button
        mat-button
        color="primary"
        routerLink="/contact"
        matTooltip="Navigate to Contact"
      >
        <mat-icon>question_answer</mat-icon>Contact
      </button>
      <button
        mat-button
        color="primary"
        routerLink="/colors"
        matTooltip="Navigate to Colors Table"
      >
        <mat-icon>color_lens</mat-icon>Colors
      </button>
      <button
        mat-button
        color="primary"
        routerLink="/files"
        matTooltip="Navigate to Colors Table"
      >
        <mat-icon>cloud</mat-icon>Files
      </button>
      <button
        mat-button
        color="primary"
        routerLink="/todo"
        matTooltip="Navigate to Todos"
      >
        <mat-icon>ballot</mat-icon>Todo
      </button>
    </div>
    <div class="right">
      <ng-container *ngIf="smallScreen$ | async; else large">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          matTooltip="Click to expand"
          color="primary"
        >
          <ng-container *ngIf="user$ | async as user; else icon">
            <img class="user" [src]="user.photoURL" />
          </ng-container>
          <ng-template #icon>
            <mat-icon>account_circle</mat-icon>
          </ng-template>
        </button>

        <mat-menu #menu="matMenu">
          <ng-container *ngIf="user$ | async; else login">
            <button mat-menu-item (click)="signOut()">
              <mat-icon>logout</mat-icon>
              <span>Sign out</span>
            </button>
          </ng-container>

          <ng-template #login>
            <button mat-menu-item (click)="signIn()">
              <mat-icon>verified_user</mat-icon>
              <span>Sign in</span>
            </button>
          </ng-template>

          <button mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-template #large>
        <ng-container *ngIf="user$ | async as user; else login">
          <button mat-button color="primary" (click)="signOut()">
            <span>Log out user {{ user.displayName }}</span>
            <mat-icon>logout</mat-icon>
          </button>
        </ng-container>
        <ng-template #login>
          <button mat-button color="primary" (click)="signIn()">
            <mat-icon>verified_user</mat-icon>
            <span>Sign in</span>
          </button>
        </ng-template>

        <button mat-button color="primary" routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
