<mat-toolbar color="accent">
  <div class="toolbar">
    <div>
      <button
        mat-button
        color="primary"
        routerLink=""
        matTooltip="Navigate to Home Page"
      >
        <mat-icon>cabin</mat-icon>
        Home
      </button>
      <button
        mat-button
        color="primary"
        routerLink="/contact"
        matTooltip="Navigate to Contact"
      >
        <mat-icon>question_answer</mat-icon>Contact
      </button>
      <button
        mat-button
        color="primary"
        routerLink="/colors"
        matTooltip="Navigate to Colors Table"
      >
        <mat-icon>color_lens</mat-icon>Colors
      </button>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Click to expand">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>verified_user</mat-icon>
          <span>Log in</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
