:host {
  display: block;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}

section {
  padding: 50px;

  > div {
    padding: 10px;
  }
}
