<h1>{{ 'todos' | translate }}</h1>

<div class="new">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>New task to do</mat-label>
    <input
      matInput
      (keydown.enter)="addTodo($event.target.value); $event.target.value = ''"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>User</mat-label>
    <input matInput [value]="email$ | async" readonly />
  </mat-form-field>
</div>

<mat-list>
  <mat-divider></mat-divider>

  <ng-container *ngFor="let todo of todos$ | async; trackBy: trackTodo">
    <mat-list-item>
      <div class="item">
        <div class="left">
          <div
            class="task"
            [class.done]="todo.done"
            [matBadge]="todo.likes"
            matBadgeColor="accent"
            matBadgeSize="small"
            matBadgeOverlap="false"
          >
            <span
              >{{ todo.task }}</span>
          </div>
        </div>
        <div class="right">
          <button
            mat-icon-button
            (click)="doneTask(todo.id)"
            [disabled]="todo.done"
          >
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button (click)="likeTodo(todo.id, todo.likes)">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="editTask(todo)"
            [disabled]="todo.done"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteTask(todo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
